/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
    border: 1px solid #ccc;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
    margin-bottom: 20px;
}

code {
    border: 1px solid #eaeaea;
    margin: 0px 2px;
    padding: 0px 5px;
    font-size: 12px;
}

pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

pre, code {
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

pre, pre code {
    font-size: 13px;
}

pre .comment {
    color: #998;
}

pre .support {
    color: #0086B3;
}

pre .tag, pre .tag-name {
    color: navy;
}

pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
    font-weight: bold;
}

pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
    color: #333;
}

pre .constant.numeric, pre .keyword.unit, pre .hex-color {
    font-weight: normal;
    color: #099;
}

pre .entity.class {
    color: #458;
}

pre .entity.id, pre .entity.function {
    color: #900;
}

pre .attribute, pre .variable {
    color: teal;
}

pre .string, pre .support.value  {
    font-weight: normal;
    color: #d14;
}

pre .regexp {
    color: #009926;
}
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font: 16px 'Open Sans', sans-serif;
  font-weight: 300;
  color: #333;
}
.column {
  padding: 5px 0;
  float: left;
  width: 33%;
}
.column1-1 {
  width: 100%;
  padding: 5px 0;
}
.column1-2 {
  width: 50%;
}
@media all and (max-width: 1060px) {
  .column1-2 {
    padding: 10px 0;
    width: 100%;
  }
}
.column2-5 {
  width: 40%;
}
.column3-5 {
  width: 60%;
}
.column2-3 {
  width: 66.6%;
}
@media all and (max-width: 1060px) {
  .column2-3 {
    padding: 10px 0;
    width: 100%;
  }
}
.text-bold {
  font-weight: 400;
}
.text-box {
  padding-top: 50px;
}
.section {
  padding: 20px 0;
  line-height: 1.5em;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  overflow: hidden;
}
p {
  margin-bottom: 15px;
}
pre {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.35);
  background: rgba(255,255,255,0.8);
}
.wrap {
  width: 1060px;
  margin: auto;
}
@media all and (max-width: 1060px) {
  .wrap {
    width: 100%;
  }
}
.fork-me {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  border: 0;
}
.code-header {
  margin-bottom: 5px;
}
.code-header .number {
  font-weight: bold;
  vertical-align: bottom;
}
.domo {
  width: 100%;
  height: 100%;
  background: url("../images/domo.jpg");
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.main-container {
  width: 100%;
  overflow: hidden;
  background: #f0f0f0;
  background: rgba(255,255,255,0.8);
  border-top: 1px solid rgba(255,255,255,0.9);
  position: absolute;
  top: 75%;
  z-index: 2;
  padding: 30px;
}
.title {
  font: 200 60px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.title-main,
.title-section {
  color: #222;
  font-size: 50px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  font-weight: 100;
}
.title-section {
  font-size: 35px;
}
.title-section-only {
  margin-bottom: 20px;
}
.title-subtitle,
.title-method {
  color: #000;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  padding-left: 5px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.2);
}
.title-method {
  font-weight: 400;
  color: #555;
  padding: 0;
}
.list {
  padding-left: 20px;
  font-size: 13px;
}
.list-item {
  padding-left: 100px;
  position: relative;
}
.list-item-attribute {
  font-size: 14px;
  font-weight: 400;
  left: 0;
  position: absolute;
  width: 80px;
  display: inline-block;
}
.commands li {
  padding: 10px 0;
}
.command {
  font-weight: 300;
  font-size: 18px;
}
.command-description {
  font-size: 14px;
  margin-left: 10px;
}
.command-requires-authentication {
  font-weight: 400;
  font-size: 12px;
  color: #900;
  line-height: 12px;
  margin-bottom: 10px;
}
